* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
    min-height: 100vh;
    margin: 0; padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header, main, footer {
    border: 1px solid #829985;
}

header {
    background-color: #829985;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

html {
    scroll-behavior: smooth; 
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    transition: .3s;
    text-decoration: none;
    color: white;
    transition: .3s;
}

.section-item a {
    color: #829985;
    text-decoration: none;  
    transition: color 0.5s;
}
.section-item a:hover {
    color: #4d2323;
}
.main-container {
    display: flex;
    flex-wrap: wrap;
}

.section {
    width: 50%;

}
@media (max-width: 768px) {
.section {
    width: 100%;
    }
}
footer {
    border-color: #829985;
    background-color: #829985;
    color: white;

}
.profile-photo {
    width: 100px;
height: 150px;
}

.rss-logo{
    width: 100px;
    height: 50px;
}
.github-navlink {
    color: white;
    text-decoration: none;
    padding: 0 20px;
    line-height: 50px;
    transition: .3s;
}

